@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ebd545;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

body::before {
  content: "";
  background-image: url("/images/wallpaper-minion.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.navigation {
  background-color: var(--primary-color);
  border-radius: 2rem;
  border: 1px solid black;
  position: relative;
}

.navigation h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.navigation h1 img {
  position: absolute;
  max-width: 60px;
  top: 10px;
  padding: 0 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#input {
  height: 15vh;
  width: 70%;
  display: block;
  padding: 2rem;
  margin: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: grey;
  text-align: center;
  position: relative;
  outline: none;
}

#btn-translate {
  margin: 1rem;
  border-radius: 1.5rem;
  border: 2px solid black;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  position: relative;
}

#output {
  height: 15vh;
  width: 70%;
  padding: 2rem;
  border: 1px solid black;
  margin: 1.5rem;
  border: 1px solid black;
  color: blue;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  background-color: grey;
  outline: none;
}

.list-item-inline {
  display: inline-block;
}

.footer {
  margin-top: 50px;
  padding: 14px;
  padding-bottom: 0;
  text-align: center;
}

.footer ul {
  padding: 8px;
}

.footer ul li {
  padding: 8px;
}
